<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AccidentTracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/styles/custom.flexslider.css" rel="stylesheet" />
    <link href="~/Content/styles/fontawesome-4.2.0.min.css" rel="stylesheet" />
    <link href="~/Content/styles/framework.css" rel="stylesheet" />
    <link href="~/Content/styles/layout.css" rel="stylesheet" />
</head>
<body id="top">
    <div class="wrapper row1">
        <header id="header" class="clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1>@Html.ActionLink("AccidentTracker", "Index", "Home")</h1>
            </div>
            <div class="fl_right">
                <ul class="inline">
                    <li>@Html.ActionLink("Register", "Registration", "User")</li>
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2">
        <nav id="mainav" class="clear">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </div>


    <div class="row">
        <div class="wrapper row3">
            <main class="container clear">

                @RenderBody()

            </main>
        </div>
    </div>


    <div class="wrapper row4">
        <footer id="footer" class="clear">
            <!-- ################################################################################################ -->
            <div class="one_quarter first">
                <h6 class="title">Company Details</h6>
                <address class="btmspace-15">
                    AccidentTracker,<br>
                    542/C,<br>
                    Polpitimukalana,<br>
                    Kandana<br>
                </address>
                <ul class="nospace">
                    <li class="btmspace-10"><span class="fa fa-phone"></span> +94 (11) 567 0623</li>
                    <li><span class="fa fa-envelope-o"></span> accidenttracker@gmail.com</li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="title">Quick Links</h6>
                <ul class="nospace linklist">
                    <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Register", "Registration", "User")</li>
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                </ul>
            </div>
            <div class="one_quarter">
                <h6 class="title">History</h6>
                <article>
                    <h2 class="nospace">@Html.ActionLink("AccidentTracker", "Index", "Home")</h2>
                    <time class="smallfont" datetime="2045-04-06">Friday, 25<sup>th</sup> September 1992</time>
                    <p style="text-align:justify">
                        We have 25 years experience to provide more secure and reliable protection to your vehicle and inform your relations after accident as soon as possible.
                    </p>
                </article>
            </div>
            <div class="one_quarter">
                <h6 class="title">Keep In Touch</h6>
                <ul class="faico clear">
                    <li><a class="faicon-tumblr" href="https://www.youtube.com/channel/UCUiFi0nnXtb__k92vRV4WOw" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a class="faicon-facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="faicon-twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="faicon-linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="faicon-google-plus" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="faicon-instagram" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

    <script src="~/Content/scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/jquery.backtotop.js"></script>
    <script src="~/Content/scripts/jquery.flexslider-min.js"></script>
    <script src="~/Content/scripts/jquery.mobilemenu.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
